.listing-tabs > a {
  width: 50%;
}

.listing-selection {
  border: 1px solid lightgrey;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

}

.listing-selection-box {
  display: flex;
  justify-content: space-evenly;
}