.chat-root {
  z-index: 30;
  overflow: auto;
}

.chat-window {
  height: 400px;
  width: 265px;
  border: 1px solid mediumslateblue;
  background-color: lightgray;
}

.message-board {
  margin: 10px auto;
  height: 65%;
  width: 250px;
  border: 1px solid mediumslateblue;
  overflow: auto;
  background-color: white;
}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 265px;
  z-index: 20;
}

.min-chat {
  transform: translateY(350px)
}

.close-chat-buttons {
	display: flex;
	justify-content: flex-end
}

.close-chat-buttons * {
	font-size: 15px;
	width: 10%;
	border: none;
	background-color: rgba(0,0,0,0);
}

.on-close-bottom {
	display: flex;
	justify-content: space-between;
	padding: 3px 10px;
}

.listing-item {
	font-size: 15px;
}

.inline {
	display: inline;
}

.receiver-username {
	font-size: 18px;
	font-weight: bold;
}

.transaction-option {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	font-size: 15px;
}

.single-message {
	padding: 3px;
	margin: 1px;
}

.single-message:not(:last-child) {
	border-bottom: 0.5px solid lightgray;
}

.message-sender {
	font-size: 15px;
	font-weight: bold;
	color: darkblue;
}

.message-receiver {
	font-size: 15px;
	font-weight: bold;
	color: black;
}

.message-text {
	font-size: 14px;
}

.message-input {
	width: 90%;
	margin: 0 auto;
}

.listing-info > * {
	line-height: 1.1
}