.chat-root {
  z-index: 30;
}

.chat-window {
  height: 400px;
  width: 265px;
  border: 1px solid rebeccapurple;
}

.message-board {
  margin: 10px auto;
  height: 75%;
  width: 250px;
  border: 1px solid rebeccapurple;
  overflow: auto;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 265px;
  z-index: 20;
}

.min-chat {
  transform: translateY(350px)
}