.carousel-container {
  height: 200px;
  background-color: gainsboro;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
  border: 1px solid black;
}

.empty-carousel {
  height: 200px;
}