.chat-container {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  right: 10px;
  bottom: 20px;
  z-index: 20;
  border: 1px solid rebeccapurple;
  overflow: hidden;
}

.chat-list {
  height: 400px;
  width: 265px;
  overflow: scroll;
  border: 1px solid rebeccapurple;
  background-color: orange;
  display: flex;
  flex-direction: column;
}

.chat-list button {
	align-self: flex-end;
	font-size: 18px;
	border: none;
	background-color: rgba(0,0,0,0);
	width: 10%;
}

.chat-list > h4 {
  text-align: center;
}

.chat-list-item {
  cursor: pointer;
  background-color: orangered;
  margin: 5px 5px;
  padding: 9px
}

.chat-list-item:hover {
  background-color: palegreen;
}

.chat-placeholder {
  height: 350px;
  width: 265px;
}

.hide-container {
  display: none;
}

.show-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
}

.chat-container-username {
	font-size: 15px;
	font-weight: bold;
}

.chat-container-listing {
	font-size: 12px;
}